#card__body {
  height: 100%;
  width: 100%;
  padding: 2% 4%;
  transition: all 0.8s;
}

#card__body:hover {
  background-color: #7811f7;
  box-shadow: rgb(177, 38, 212) 0px 3px 8px;
  cursor: pointer;
}

#card__body:hover > h3 {
  color: rgb(116, 2, 2);
}

.card__icon {
  font-size: 50px;
  color: rgb(177, 38, 212);
}
